@model IEnumerable<A16_TP_1142718_JRompre.Models.Automobile>

@{
    ViewData["Title"] = "Retourner";
}

<h1>Retour de location</h1>
<br />
<div>
    <span> @Html.ActionLink("Voitures disponibles","Louer","Automobiles")</span> | 
    <span> Voitures louées</span>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motopropulsion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motopropulsion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Licence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                    @Html.ActionLink("Retourner Automobile","Retour","HistoriqueReservations",new {autoId = item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
