@model IEnumerable<A16_TP_1142718_JRompre.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutomobileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSortie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AutomobileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSortie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
